<div class="container">
  <h3>aws1-test environments</h3>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Fqdn</th>
      <th>Age</th>
      <th>Owner</th>
      <th>Branch</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let environment of environments">
      <td>{{environment.name}}</td>
      <td>{{environment.fqdn}}</td>
      <td>{{environment.age}}</td>
      <td>{{environment.owner}}</td>
      <td>{{environment.branch}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="nav">
  <div class="container">
    <table class="table table-borderless">
      <tr>
        <td class="col-md-4">
          <input ng-model="filterName.name" placeholder="Filter by Name"  class="form-control">
        </td>
      </tr>
    </table>
  </div>
</div>
